<!-- fluid container begin -->
<div class="container-fluid jumbotron col-xs-12 col-sm-12">
	<!-- row fluid begin -->
	<div class="row-fluid">
		<!-- Use the custom Carousel directive -->
		<image-carousel></image-carousel>
		<!-- carousel end -->
		<!-- main page heading -->
		<h1>{{ title }}</h1>
		<!-- Body content -->
		<div id="body-content">
			<!-- display (inject) our content in the browser -->
			Ayodeji Ibrahim Balogun (born 16 July 1990),
			
			known professionally as Wizkid, is a Nigerian singer and songwriter. He started recording music at age 11 and managed to release a collaborative album with the Glorious Five, a group he and a couple of his church friends formed. In 2009, he signed a record deal with Banky W.'s record label Empire Mates Entertainment (E.M.E). He rose to prominence in 2010 with the release of the song "Holla at Your Boy" from his debut studio album, Superstar (2011). "Tease Me/Bad Guys", "Don't Dull", "Love My Baby", "Pakurumo" and "Oluwa Lo Ni" were also released as singles from the Superstar album. Wizkid's self-titled second studio album, Ayo, was released in September 2014 and was preceded by six singles: "Jaiye Jaiye", "On Top Your Matter", "One Question", "Joy", "Bombay" and "Show You the Money".

In 2016, Wizkid achieved international recognition following his collaboration with Drake on the global hit, "One Dance", which reached number one in 15 countries, including the United States, United Kingdom, Canada and Australia. In addition to his solo work, Wizkid has collaborated with several other artists and was featured on the hits "Girl" (with Bracket), "Fine Lady" (with Lynxxx), "Sexy Mama" (with Iyanya), "Slow Down" (with R2Bees), "The Matter" (with Maleek Berry), "Pull Over" (with KCee) and "Bad Girl" (with Jesse Jagz).

Following the release of his second studio album and expiration of his 5-year recording contract, Wizkid left E.M.E. On 1 March 2017, Billboard magazine reported that Wizkid signed a multi-album deal with RCA Records. The deal was first reported by several media outlets in September 2016.The chairman and CEO of RCA Records, Peter Edge, confirmed the signing while speaking to Music Business Worldwide in January 2017.[7]

He was ranked 5th on Forbes and Channel O's 2013 list of the Top 10 Richest/Bankable African Artists. In February 2014, Wizkid became the first ever Nigerian musician to have over 1 million followers on Twitter. Moreover, he became the first Afrobeats artist to appear in the 2018 Guinness World Records for his contribution to Drake's hit song "One Dance".
			
		</div>
		<!-- body-content end -->
	</div>
	<!-- fluid row end -->
</div>
<!-- fluid container end -->